/* ----Mobile-First---- */
/* Starting from the smallest, iphone 5/SE size: 320x568*/
.about-me * {
  position: absolute;
  font-family: sans-serif;
}

.contents-ctr {
  width: 84%;
}

.contents-ctr .title {
  font-size: 2.2rem;
  font-weight: 300;
  top: 11vh;
  left: 10vw;
  z-index: 2;
}

.bio-ctr {
  width: 100%;
  top: 18vh;
}

.bio-bg,
.bio {
  width: 100%;
  height: 27rem;
  padding: 1.5rem;
  z-index: 2;
}

.bio-bg {
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 4px;
}

.bio {
  color: #fff;
  font-size: 1.35rem;
  letter-spacing: 0.1rem;
}

.bio * {
  position: relative;
}

.bio .languages,
.bio .tools {
  color: #000;
}

.languages h4,
.tools h4 {
  padding-bottom: 0.2rem;
  font-size: 1rem;
  font-weight: 100;
}

.languages span,
.tools span {
  margin: 0 0.7rem;
  font-size: 0.9rem;
}

.bio .languages {
  top: 6.5%;
}

.bio .tools {
  top: 9.5%;
}

.about-me .mb-bg {
  width: 100%;
  height: 88vh;
}

.about-me .dt-bg {
  display: none;
}

/*---Mobile-Media-Querie-Rules--- */
/* For screen (width: 360px and more, height: 640px (in mind)*/
@media screen and (min-width: 358px) {
  .contents-ctr .title {
    font-size: 2.4rem;
    top: 12vh;
  }

  .bio-ctr {
    top: 19vh;
  }

  .bio-bg,
  .bio {
    height: 31rem;
  }

  .bio {
    font-size: 1.6rem;
  }

  .languages h4,
  .tools h4 {
    padding-bottom: 0.4rem;
    font-size: 1.2rem;
  }

  .languages span,
  .tools span {
    font-size: 1rem;
  }

  .about-me .mb-bg {
    height: 90vh;
  }
}

/* For screen (width: 360px and more, height: 760px*/
@media screen and (min-width: 358px) and (min-height: 758px) {
  .contents-ctr .title {
    font-size: 2.8rem;
  }

  .bio-bg,
  .bio {
    height: 36rem;
  }

  .bio {
    font-size: 1.7rem;
  }

  .languages h4,
  .tools h4 {
    font-size: 1.4rem;
  }

  .languages span,
  .tools span {
    font-size: 1.2rem;
  }

  .bio .languages {
    top: 8%;
  }

  .bio .tools {
    top: 13%;
  }

  .about-me .mb-bg {
    height: 92vh;
  }
}

/* For screen (width: 360px and more, height: 780px*/
@media screen and (min-width: 358px) and (min-height: 778px) {
  .bio-bg,
  .bio {
    height: 37.5rem;
  }

  .bio {
    font-size: 1.75rem;
  }
}

/* For screen (width: 375px and more, height: 667px (in mind)*/
@media screen and (min-width: 374px) {
  .bio-bg,
  .bio {
    height: 31.2rem;
  }

  .bio {
    font-size: 1.6rem;
  }

  .languages h4,
  .tools h4 {
    font-size: 1.4rem;
  }

  .languages span,
  .tools span {
    font-size: 1.2rem;
  }

  .about-me .mb-bg {
    width: 102vw;
  }
}

/* For screen (width: 375px and more, height: 812px*/
@media screen and (min-width: 374px) and (min-height: 810px) {
  .contents-ctr .title {
    top: 12.5vh;
  }

  .bio-ctr {
    top: 20vh;
  }

  .bio-bg,
  .bio {
    height: 37.5rem;
  }

  .bio {
    font-size: 1.8rem;
  }

  .bio .languages {
    top: 10%;
  }

  .bio .tools {
    top: 16%;
  }
}

/* For screen (width: 414px and more, height: 736px (in mind)*/
@media screen and (min-width: 412px) {
  .contents-ctr .title {
    font-size: 2.8rem;
  }

  .bio-bg,
  .bio {
    height: 35.5rem;
  }

  .bio {
    font-size: 1.8rem;
  }

  .languages h4,
  .tools h4 {
    font-size: 1.5rem;
  }

  .languages span,
  .tools span {
    font-size: 1.3rem;
  }
}

/* For screen (width: 414px and more, height: 896px*/
@media screen and (min-width: 412px) and (min-height: 894px) {
  .contents-ctr .title {
    font-size: 3rem;
  }

  .bio-bg,
  .bio {
    height: 49.5vh;
  }

  .bio {
    font-size: 2.08rem;
  }

  .languages h4,
  .tools h4 {
    font-size: 1.6rem;
  }

  .languages span,
  .tools span {
    font-size: 1.4rem;
  }

  .bio .languages {
    top: 7%;
  }

  .bio .tools {
    top: 12%;
  }
}

/*---Tablet-Media-Querie-Rules--- */
/* For screen (width: 600px and more, height: 800px (in mind)*/
@media screen and (min-width: 599px) {
  .contents-ctr .title {
    top: 13vh;
  }

  .bio-ctr {
    top: 20vh;
  }

  .bio-bg,
  .bio {
    height: 36rem;
  }

  .bio {
    font-size: 2.2rem;
  }

  .bio .languages,
  .bio .tools {
    margin-left: 8vw;
  }

  .languages h4,
  .tools h4 {
    font-size: 1.6rem;
  }

  .languages span,
  .tools span {
    margin: 0 1rem;
    font-size: 1.4rem;
  }

  .bio .tools {
    top: 14%;
  }

  .about-me .mb-bg {
    height: 90vh;
  }
}

/* For screen (width: 601px and more, height: 962px*/
@media screen and (min-width: 600px) and (min-height: 960px) {
  .contents-ctr {
    width: 80%;
  }

  .contents-ctr .title {
    font-size: 3rem;
  }

  .bio-bg,
  .bio {
    height: 46.5rem;
  }

  .bio {
    font-size: 2.4rem;
    letter-spacing: 0.2rem;
  }

  .languages h4,
  .tools h4 {
    font-size: 1.7rem;
  }

  .bio .languages {
    top: 7%;
  }

  .bio .tools {
    top: 12%;
  }

  .about-me .mb-bg {
    height: 92vh;
  }
}

/* For screen (width: 768px and more, height: 1024px (in mind)*/
@media screen and (min-width: 766px) {
  .contents-ctr {
    width: 75%;
  }

  .contents-ctr .title {
    font-size: 3.2rem;
    top: 15vh;
  }

  .bio-ctr {
    top: 22vh;
  }

  .bio-bg,
  .bio {
    height: 44.5rem;
  }

  .bio {
    font-size: 2.6rem;
    letter-spacing: 0.2rem;
  }

  .languages h4,
  .tools h4 {
    font-size: 2rem;
  }

  .languages span,
  .tools span {
    margin: 0 1.2rem;
    font-size: 1.6rem;
  }

  .bio .languages {
    top: 10%;
  }

  .bio .tools {
    top: 17%;
  }
}

/* For screen (width: 800px and more, height: 600px (in mind)*/
@media screen and (min-width: 798px) {
  .contents-ctr {
    width: 65%;
  }

  .contents-ctr .title {
    font-size: 2.6rem;
    top: 12.5vh;
    left: 6vw;
  }

  .bio-ctr {
    top: 20vh;
  }

  .bio-bg,
  .bio {
    height: 25rem;
    left: 4vw;
  }

  .bio-bg {
    background-color: rgb(190, 202, 164);
  }

  .bio {
    color: #000;
    font-size: 1.75rem;
    letter-spacing: 0.1rem;
    z-index: 3;
  }

  .bio .languages,
  .bio .tools {
    margin-left: 6vw;
  }

  .languages h4,
  .tools h4 {
    font-size: 1.4rem;
  }

  .languages span,
  .tools span {
    font-size: 1.2rem;
  }

  .bio .tools {
    top: 14%;
  }

  .about-me .mb-bg {
    display: none;
  }

  .about-me .dt-bg {
    display: inline-block;
    width: 45vw;
    right: 0;
    z-index: 2;
  }
}

/* For screen (width: 800px and more, height: 1280px */
@media screen and (min-width: 798px) and (min-height: 1278px) {
  .contents-ctr {
    width: 70vw;
  }

  .contents-ctr .title {
    font-size: 3.6rem;
    top: 13vh;
  }

  .bio-bg,
  .bio {
    height: 62rem;
    left: 12vw;
    padding: 2.5rem;
  }

  .bio-bg {
    background-color: rgba(0, 0, 0, 0.7);
  }

  .bio {
    color: #fff;
    font-size: 3rem;
    letter-spacing: 0.2rem;
  }

  .languages h4,
  .tools h4 {
    font-size: 2.4rem;
  }

  .languages span,
  .tools span {
    font-size: 2rem;
  }

  .bio .languages {
    top: 9%;
  }

  .bio .tools {
    top: 16%;
  }

  .about-me .mb-bg {
    width: 100%;
    height: 95vh;
    display: block;
  }

  .about-me .dt-bg {
    display: none;
  }
}

/* For screen (width: 810px and more, height: 1080px (in mind)*/
@media screen and (min-width: 808px) {
  .contents-ctr {
    width: 78vw;
  }

  .contents-ctr .title {
    font-size: 3.6rem;
  }

  .bio-bg,
  .bio {
    height: 52.5rem;
    padding: 2.5rem;
  }

  .bio-bg {
    background-color: rgba(0, 0, 0, 0.7);
  }

  .bio {
    color: #fff;
    font-size: 3rem;
    letter-spacing: 0.2rem;
  }

  .languages h4,
  .tools h4 {
    font-size: 2.4rem;
  }

  .languages span,
  .tools span {
    font-size: 2rem;
  }

  .bio .languages {
    top: 9%;
  }

  .bio .tools {
    top: 15%;
  }

  .about-me .mb-bg {
    width: 100%;
    height: 95vh;
    display: block;
  }

  .about-me .dt-bg {
    display: none;
  }
}

/* For screen (width: 962px and more, height: 601px (in mind)*/
@media screen and (min-width: 960px) {
  .contents-ctr {
    width: 68%;
  }

  .contents-ctr .title {
    font-size: 2.6rem;
    top: 14vh;
  }

  .bio-ctr {
    top: 21vh;
  }

  .bio-bg,
  .bio {
    height: 22.5rem;
    padding: 1.5rem;
  }

  .bio-bg {
    background-color: rgb(190, 202, 164);
  }

  .bio {
    color: #000;
    font-size: 1.91rem;
    letter-spacing: 0.1rem;
  }

  .languages h4,
  .tools h4 {
    font-size: 1.8rem;
  }

  .languages span,
  .tools span {
    font-size: 1.5rem;
  }

  .about-me .mb-bg {
    display: none;
  }

  .about-me .dt-bg {
    display: inline-block;
    width: 42vw;
  }
}

/* For screen (width: 1024px and more, height: 768px (in mind) */
@media screen and (min-width: 1022px) {
  .contents-ctr .title {
    font-size: 2.8rem;
    top: 16vh;
  }

  .bio-ctr {
    top: 24vh;
  }

  .bio-bg,
  .bio {
    height: 28rem;
    left: 1.5vw;
  }

  .bio {
    font-size: 2.2rem;
  }

  .bio .languages,
  .bio .tools {
    margin-left: 8vw;
  }

  .languages h4,
  .tools h4 {
    font-size: 2rem;
  }

  .languages span,
  .tools span {
    margin: 0 1.6rem;
    font-size: 1.8rem;
  }

  .bio .languages {
    top: 13%;
  }

  .bio .tools {
    top: 22%;
  }

  .about-me .dt-bg {
    width: 40vw;
  }
}

/* For screen (width: 1024px and more, height: 1366px)*/
@media screen and (min-width: 1022px) and (min-height: 1365px) {
  .contents-ctr {
    width: 78vw;
  }

  .contents-ctr .title {
    font-size: 4.6rem;
    top: 14vh;
  }

  .bio-ctr {
    top: 22vh;
  }

  .bio-bg,
  .bio {
    height: 67rem;
    padding: 2.5rem;
    left: 5vw;
  }

  .bio-bg {
    background-color: rgba(0, 0, 0, 0.7);
  }

  .bio {
    color: #fff;
    font-size: 3.8rem;
    letter-spacing: 0.2rem;
  }

  .languages h4,
  .tools h4 {
    font-size: 2.6rem;
  }

  .languages span,
  .tools span {
    margin: 0 1.8rem;
    font-size: 2.2rem;
  }

  .bio .languages {
    top: 9%;
  }

  .bio .tools {
    top: 15%;
  }

  .about-me .mb-bg {
    display: block;
  }

  .about-me .dt-bg {
    display: none;
  }
}

/* For screen (width: 1280px and more, height: 720px (in mind)*/
@media screen and (min-width: 1278px) {
  .contents-ctr .title {
    top: 14vh;
  }

  .bio-ctr {
    top: 22vh;
  }

  .bio-bg,
  .bio {
    height: 27.5rem;
    left: 8vw;
  }

  .bio {
    font-size: 2.4rem;
  }

  .languages span,
  .tools span {
    margin: 0 2rem;
  }
}

/* For screen (width: 1280px and more, height: 800px*/
@media screen and (min-width: 1278px) and (min-height: 798px) {
  .contents-ctr {
    width: 65vw;
  }

  .contents-ctr .title {
    font-size: 3rem;
  }

  .bio-bg,
  .bio {
    height: 33rem;
    left: 6vw;
  }

  .bio {
    font-size: 2.6rem;
  }

  .bio .languages {
    top: 10%;
  }

  .bio .tools {
    top: 16%;
  }

  .about-me .dt-bg {
    width: 45vw;
  }
}

/* For screen (width: 1280px and more, height: 1024px*/
@media screen and (min-width: 1278px) and (min-height: 1022px) {
  .contents-ctr .title {
    top: 18vh;
  }

  .bio-ctr {
    top: 26vh;
  }

  .bio-bg,
  .bio {
    height: 39rem;
  }

  .bio {
    font-size: 2.8rem;
  }

  .bio .languages {
    top: 12%;
  }

  .bio .tools {
    top: 20%;
  }
}

/* For screen (width: 1366px and more, height: 768px (in mind)*/
@media screen and (min-width: 1364px) {
  .contents-ctr .title {
    font-size: 3.2rem;
    top: 15vh;
  }

  .bio-ctr {
    top: 22vh;
  }

  .bio-bg,
  .bio {
    height: 30rem;
  }

  .bio {
    font-size: 2.6rem;
  }
}

/* For screen (width: 1366px and more, height: 1024px*/
@media screen and (min-width: 1364px) and (min-height: 1023px) {
  .bio-bg,
  .bio {
    height: 42rem;
  }

  .bio {
    font-size: 3rem;
  }

  .languages h4,
  .tools h4 {
    font-size: 2.8rem;
  }

  .languages span,
  .tools span {
    font-size: 2.2rem;
  }
}

/*---Desktop-Media-Querie-Rules--- */
/* For screen (width: 1440px and more, height: 900px (in mind)*/
@media screen and (min-width: 1438px) {
  .contents-ctr .title {
    top: 16vh;
  }

  .bio-bg,
  .bio {
    height: 38rem;
  }

  .bio {
    font-size: 3rem;
  }

  .languages h4,
  .tools h4 {
    font-size: 2.4rem;
  }

  .languages span,
  .tools span {
    font-size: 2rem;
  }
}

/* For screen (width: 1529px and more, height: 700px (in mind)*/
@media screen and (min-width: 1528px) and (min-height: 699px) {
  .contents-ctr .title {
    top: 13vh;
  }

  .bio-ctr {
    top: 20vh;
  }

  .bio-bg,
  .bio {
    height: 28rem;
    left: 10vw;
  }

  .bio {
    font-size: 2.7rem;
  }

  .languages h4,
  .tools h4 {
    font-size: 2.2rem;
  }

  .languages span,
  .tools span {
    font-size: 1.9rem;
  }

  .bio .languages {
    top: 9%;
  }

  .bio .tools {
    top: 16%;
  }
}

/* For screen (width: 1536px and more, height: 864px (in mind)*/
@media screen and (min-width: 1534px) and (min-height: 862px) {
  .contents-ctr .title {
    top: 16vh;
  }

  .bio-ctr {
    top: 24vh;
  }

  .bio-bg,
  .bio {
    height: 32.5rem;
  }

  .bio {
    font-size: 2.8rem;
  }

  .languages h4,
  .tools h4 {
    font-size: 2.4rem;
  }

  .languages span,
  .tools span {
    font-size: 2rem;
  }

  .bio .tools {
    top: 20%;
  }
}

/* For screen (width: 1600px and more, height: 900px (in mind)*/
@media screen and (min-width: 1598px) {
  .bio-bg,
  .bio {
    height: 35rem;
  }

  .bio {
    font-size: 3rem;
  }
}

/* For screen (width: 1920px and more, height: 1080px (in mind)*/
@media screen and (min-width: 1918px) {
  .contents-ctr .title {
    font-size: 3.8rem;
    top: 18vh;
  }

  .bio-ctr {
    top: 26vh;
  }

  .bio-bg,
  .bio {
    height: 42rem;
  }

  .bio {
    font-size: 3.6rem;
  }

  .languages h4,
  .tools h4 {
    font-size: 2.6rem;
  }

  .languages span,
  .tools span {
    font-size: 2.2rem;
  }
}
