/* ----Mobile-related-styles---- */
/* Starting from the smallest, iphone 5/SE size: 320x568*/
.about-me * {
  position: absolute;
  font-family: sans-serif;
}

.contents-ctr {
  width: 84%;
  z-index: 2;
}

.contents-ctr .title {
  font-size: 2.2rem;
  font-weight: 300;
  top: 7.5vh;
  left: 12vw;
}

.bio-ctr {
  width: 100%;
  top: 15vh;
}

.bio-bg,
.bio {
  width: 100%;
  height: 46.5vh;
}

.bio-bg {
  background-color: rgba(52, 74, 4, 0.3);
  border: 1px solid #000;
  border-left: 0;
  padding: 1.5rem;
  border-radius: 4px;
  z-index: 2;
}

.bio {
  color: #fff;
  margin: 1.5rem;
  font-size: 1.35rem;
  letter-spacing: 0.1rem;
  z-index: 3;
}

.bio * {
  position: relative;
}

.bio .languages,
.bio .tools {
  color: #000;
}

.languages h4,
.tools h4 {
  padding-bottom: 0.5rem;
  font-size: 1rem;
  font-weight: 100;
}

.languages span,
.tools span {
  margin: 0 0.8rem;
  font-size: 0.9rem;
}

.bio .languages {
  top: 5%;
}

.bio .tools {
  top: 7.5%;
}

.about-me .mb-bg {
  width: 100%;
  height: 85vh;
}

.about-me .dt-bg {
  display: none;
}
