/* ----Mobile-First---- */
/* Starting from the smallest, iphone 5/SE size: 320x568*/

/* Override default autofill styles  */
input:-webkit-autofill {
  transition: background-color 9999s ease-in-out 0s;
  -webkit-text-fill-color: #fff;
}

/* Override default placeholder styles */
::placeholder {
  color: rgb(218, 215, 215);
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: rgb(218, 215, 215);
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: rgb(218, 215, 215);
}

/* Scrollbar styles */
/* width */
textarea::-webkit-scrollbar {
  width: 10px;
  border-radius: 50%;
}

/* Handle */
textarea::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 25px;
}

/* Handle on hover */
input::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.contact-me .horiz-bg,
.contact-me .vert-bg {
  display: none;
}

.contact-me .title {
  font-size: 2.5rem;
  font-weight: 300;
  position: absolute;
  top: 11vh;
  left: 8vw;
}

.form {
  background-color: #28282b;
  width: 95vw;
  height: 45vh;
  padding: 1rem 0;
  margin: auto;
  position: relative;
  top: 19vh;
  color: #fff;
  border-radius: 12px;
}

form label {
  font-size: 1.9rem;
  font-weight: 100;
}

form input,
form textarea {
  font-size: 1.8rem;
  background-color: transparent;
  color: #fff;
  outline: none;
  border: none;
  font-weight: 100;
}

.user-info {
  width: 70%;
  height: 26%;
  margin-left: 8vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.user-info input {
  border-bottom: 1.5px solid rgb(255, 255, 255);
}

.user-info input:first-of-type {
  width: 70%;
  margin-top: 0.5rem;
}

.user-msg {
  width: 85%;
  height: 55%;
  margin: 1.5rem auto;
  text-align: center;
}

.user-msg textarea {
  width: 100%;
  height: 80%;
  line-height: 3ch;
  background-image: linear-gradient(
    transparent,
    transparent calc(3ch - 1px),
    #e7eff8 0px
  );
  background-size: 100% 3ch;
}

form button {
  font-size: 1.4rem;
  font-weight: 100;
  color: #fff;
  padding: 0.2rem 1.8rem;
  background-color: transparent;
  border: 1px solid rgb(197, 193, 193);
  position: absolute;
  bottom: 4%;
  right: 12%;
}

form button:hover {
  background-color: rgb(216, 214, 214);
  font-weight: 600;
  color: #000;
  border: 1px solid #000;
}

.cm-vert-btm {
  font-size: 1.6rem;
  width: 72%;
  height: 200px;
  position: absolute;
  bottom: -4%;
  right: 0;
}

.cm-vert-btm span {
  margin-left: 1rem;
}

.cm-vert-btm a,
.cm-vert-btm p {
  display: block;
  text-decoration: none;
  color: #000;
  padding: 0.4rem 0;
}

.userRespond {
  background-color: #fff;
  color: #000;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 8vh;
  text-align: center;
  padding-top: 30vh;
}

.userRespond .closeIcon {
  position: absolute;
  top: 4%;
  right: 8%;
  cursor: pointer;
}

.userRespond h1 {
  margin: 2.5rem 0;
  font-size: 2.8rem;
}

.userRespond p {
  font-size: 2.2rem;
}

/*---Mobile-Media-Querie-Rules--- */
/* For screen (width: 360px and more, height: 640px (in mind)*/
@media screen and (min-width: 358px) {
  .contact-me .title {
    font-size: 2.8rem;
    top: 12vh;
  }

  .form {
    height: 46vh;
    top: 20vh;
  }

  form label {
    font-size: 2.2rem;
  }

  form input,
  form textarea {
    font-size: 2.2rem;
  }

  .user-info input:first-of-type {
    margin-top: 0.8rem;
  }

  .user-msg {
    height: 48%;
  }

  .user-msg textarea {
    margin: 0.5rem 0;
    line-height: 2.5ch;
    background-image: linear-gradient(
      transparent,
      transparent calc(2.5ch - 1px),
      #e7eff8 0px
    );
    background-size: 100% 2.5ch;
  }

  form button {
    font-size: 1.6rem;
    bottom: 5%;
  }

  .cm-vert-btm {
    font-size: 1.8rem;
    width: 68%;
    bottom: -2%;
  }

  .cm-vert-btm span {
    margin-left: 0.8rem;
  }
}

/* For screen (width: 360px and more, height: 760px*/
@media screen and (min-width: 358px) and (min-height: 758px) {
  .contact-me .title {
    font-size: 3rem;
    top: 13vh;
  }

  .form {
    top: 21vh;
  }

  form label {
    font-size: 2.4rem;
  }

  form input,
  form textarea {
    font-size: 2.3rem;
  }

  .user-info input:first-of-type {
    margin-top: 1rem;
  }

  .user-msg {
    height: 53%;
  }

  form button {
    font-size: 1.8rem;
  }

  .cm-vert-btm {
    bottom: 1%;
  }
}

/* For screen (width: 360px and more, height: 780px*/
@media screen and (min-width: 358px) and (min-height: 778px) {
  .cm-vert-btm {
    bottom: 1.5%;
  }

  .user-msg textarea {
    line-height: 2.6ch;
    background-image: linear-gradient(
      transparent,
      transparent calc(2.6ch - 1px),
      #e7eff8 0px
    );
    background-size: 100% 2.6ch;
  }
}

/* For screen (width: 375px and more, height: 667px (in mind)*/
@media screen and (min-width: 374px) {
  .contact-me .title {
    font-size: 3rem;
  }

  form label {
    font-size: 2.5rem;
  }

  form input,
  form textarea {
    font-size: 2.3rem;
  }

  .cm-vert-btm {
    font-size: 2rem;
    bottom: -0.5%;
  }
}

/* For screen (width: 375px and more, height: 812px*/
@media screen and (min-width: 374px) and (min-height: 810px) {
  .contact-me .title {
    font-size: 3.3rem;
  }

  .form {
    height: 48vh;
  }

  form label {
    font-size: 2.7rem;
  }

  form input,
  form textarea {
    font-size: 2.5rem;
  }

  .user-msg textarea {
    line-height: 2.6ch;
    background-image: linear-gradient(
      transparent,
      transparent calc(2.6ch - 1px),
      #e7eff8 0px
    );
    background-size: 100% 2.6ch;
  }

  form button {
    font-size: 2rem;
    padding: 0.3rem 2rem;
    bottom: 4%;
  }

  .cm-vert-btm {
    font-size: 2.1rem;
    bottom: 1%;
    right: 4%;
  }

  .userRespond .closeIcon {
    right: 10%;
  }

  .userRespond h1 {
    margin: 2.8rem 0;
    font-size: 3rem;
  }

  .userRespond p {
    font-size: 2.5rem;
  }
}

/* For screen (width: 414px and more, height: 736px (in mind)*/
@media screen and (min-width: 412px) {
  .user-msg textarea {
    margin: 1rem 0;
    line-height: 2.75ch;
    background-image: linear-gradient(
      transparent,
      transparent calc(2.75ch - 1px),
      #e7eff8 0px
    );
    background-size: 100% 2.75ch;
  }

  .cm-vert-btm {
    bottom: 1.5%;
  }
}

/* For screen (width: 414px and more, height: 896px*/
@media screen and (min-width: 412px) and (min-height: 894px) {
  .form {
    height: 46vh;
  }

  .user-info input:first-of-type {
    margin-top: 1.4rem;
  }

  .user-msg {
    height: 55%;
  }

  .user-msg textarea {
    height: 85%;
    line-height: 2.6ch;
    background-image: linear-gradient(
      transparent,
      transparent calc(2.6ch - 1px),
      #e7eff8 0px
    );
    background-size: 100% 2.6ch;
  }

  .cm-vert-btm {
    bottom: 5%;
  }

  .cm-vert-btm a,
  .cm-vert-btm p {
    padding: 0.8rem 0;
  }

  .userRespond p {
    font-size: 2.6rem;
  }
}

/*---Tablet-Media-Querie-Rules--- */
/* For screen (width: 600px and more, height: 800px (in mind)*/
@media screen and (min-width: 599px) {
  .cm-vert-btm {
    width: 50vw;
    bottom: 3%;
  }
}

/* For screen (width: 601px and more, height: 962px*/
@media screen and (min-width: 600px) and (min-height: 960px) {
  .form {
    width: 90vw;
  }

  form input,
  form textarea {
    font-size: 2.4rem;
  }

  .user-info {
    height: 24%;
  }

  .user-msg {
    margin: 3rem auto;
  }

  .user-msg textarea {
    height: 80%;
    line-height: 2.7ch;
    background-image: linear-gradient(
      transparent,
      transparent calc(2.7ch - 1px),
      #e7eff8 0px
    );
    background-size: 100% 2.7ch;
  }

  .cm-vert-btm {
    width: 50vw;
    bottom: 6%;
  }
}

/* For screen (width: 768px and more, height: 1024px (in mind)*/
@media screen and (min-width: 766px) {
  form input,
  form textarea {
    font-size: 2.6rem;
  }

  .user-msg textarea {
    margin: 1.5rem 0;
  }

  .cm-vert-btm {
    font-size: 2.2rem;
    width: 40vw;
    bottom: 7%;
  }
}

/* For screen (width: 800px and more, height: 600px (in mind)*/
@media screen and (min-width: 798px) {
  .contact-me .title {
    font-size: 3rem;
  }

  .form {
    width: 85vw;
  }

  .form label {
    font-size: 2.2rem;
  }

  form input,
  form textarea {
    font-size: 2rem;
  }

  .user-info {
    width: 45vw;
    margin-left: 6vw;
  }

  .user-msg {
    margin: 1rem auto;
  }

  .cm-vert-btm {
    width: 100vw;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.9rem;
    bottom: 16vh;
  }

  .cm-vert-btm a,
  .cm-vert-btm p {
    margin: 1.8rem;
  }
}

/* For screen (width: 800px and more, height: 1280px */
@media screen and (min-width: 798px) and (min-height: 1278px) {
  .contact-me .title {
    font-size: 3.2rem;
    top: 11vh;
  }

  .form {
    height: 35vh;
    top: 16vh;
  }

  .form label {
    font-size: 2.8rem;
  }

  form input,
  form textarea {
    font-size: 2.4rem;
  }

  .user-info input:first-of-type {
    margin-top: 2rem;
  }

  .user-msg {
    margin: 2.5rem auto;
  }

  .cm-vert-btm {
    width: 80vw;
    flex-wrap: wrap;
    font-size: 2.4rem;
    margin-bottom: 7rem;
    right: 10vw;
  }

  .cm-vert-btm a,
  .cm-vert-btm p {
    margin: 1rem 3rem;
  }

  .vert-bg {
    width: 100vw;
    height: 30vh;
    display: block !important;
    position: absolute;
    bottom: 4vh;
  }

  .userRespond {
    padding-top: 25vh;
  }

  .userRespond h1 {
    font-size: 4rem;
  }

  .userRespond p {
    font-size: 3.5rem;
  }
}

/* For screen (width: 810px and more, height: 1080px (in mind)*/
@media screen and (min-width: 808px) {
  .contact-me .title {
    font-size: 3.2rem;
    top: 11vh;
  }

  .form {
    height: 36.5vh;
    top: 16vh;
  }

  .form label {
    font-size: 2.8rem;
  }

  form input,
  form textarea {
    font-size: 2.4rem;
  }

  .user-info input:first-of-type {
    margin-top: 1.5rem;
  }

  .user-msg {
    margin: 2.5rem auto;
  }

  .user-msg textarea {
    line-height: 2.8ch;
    background-image: linear-gradient(
      transparent,
      transparent calc(2.8ch - 1px),
      #e7eff8 0px
    );
    background-size: 100% 2.8ch;
  }

  .cm-vert-btm {
    width: 90vw;
    flex-wrap: wrap;
    font-size: 2.4rem;
    margin-bottom: 2rem;
    right: 5vw;
  }

  .cm-vert-btm a,
  .cm-vert-btm p {
    margin: 1rem 5rem;
  }

  .vert-bg {
    width: 100vw;
    height: 30vh;
    display: block !important;
    position: absolute;
    bottom: 3vh;
  }

  .userRespond {
    padding-top: 25vh;
  }

  .userRespond h1 {
    font-size: 4rem;
  }

  .userRespond p {
    font-size: 3.5rem;
  }
}

/* For screen (width: 962px and more, height: 601px (in mind)*/
@media screen and (min-width: 960px) {
  .contact-me .title {
    font-size: 3rem;
    top: 12.5vh;
    left: 3vw;
  }

  .form {
    width: 55vw;
    height: 50vh;
    right: 20vw;
    top: 22vh;
  }

  .form label {
    font-size: 2.2rem;
  }

  form input,
  form textarea {
    font-size: 2rem;
  }

  .user-info {
    width: 60%;
    margin-left: 4vw;
  }

  .user-info input:first-of-type {
    margin-top: 1rem;
  }

  .user-msg {
    margin: 1.5rem auto;
  }

  .cm-vert-btm {
    width: 35vw;
    flex-direction: column;
    align-items: flex-start;
    font-size: 1.8rem;
    bottom: 16vh;
    right: 10vw;
  }

  .vert-bg {
    display: none !important;
  }

  .horiz-bg {
    display: block !important;
    width: 100vw;
    position: absolute;
    z-index: 0;
  }
}

/* For screen (width: 1024px and more, height: 768px (in mind) */
@media screen and (min-width: 1022px) {
  .contact-me .title {
    font-size: 3.2rem;
    top: 14vh;
  }

  .form {
    height: 52vh;
  }

  .form label {
    font-size: 2.6rem;
  }

  form input,
  form textarea {
    font-size: 2.2rem;
  }

  .user-info input:first-of-type {
    margin-top: 2rem;
  }

  .user-msg {
    margin: 2rem auto;
  }

  .user-msg textarea {
    line-height: 3ch;
    background-image: linear-gradient(
      transparent,
      transparent calc(3ch - 1px),
      #e7eff8 0px
    );
    background-size: 100% 3ch;
  }

  .cm-horiz-right {
    width: 35vw;
    font-size: 2rem;
    bottom: 20vh;
  }

  .horiz-bg {
    height: 100vh;
  }
}

/* For screen (width: 1024px and more, height: 1366px)*/
@media screen and (min-width: 1022px) and (min-height: 1365px) {
  .contact-me .title {
    font-size: 3.6rem;
    top: 11vh;
    left: 10vw;
  }

  .form {
    width: 80vw;
    height: 36.5vh;
    top: 16vh;
    left: 0;
  }

  .form label {
    font-size: 2.8rem;
  }

  form input,
  form textarea {
    font-size: 2.4rem;
  }

  .user-info input:first-of-type {
    margin-top: 2.5rem;
  }

  .user-msg {
    margin: 2.5rem auto;
  }

  .user-msg textarea {
    line-height: 2.6ch;
    background-image: linear-gradient(
      transparent,
      transparent calc(2.6ch - 1px),
      #e7eff8 0px
    );
    background-size: 100% 2.6ch;
  }

  .cm-vert-btm {
    width: 80vw;
    flex-direction: row;
    font-size: 2.8rem;
    margin-bottom: 18rem;
  }

  .horiz-bg {
    display: none !important;
  }

  .vert-bg {
    width: 100vw;
    height: 30vh;
    display: block !important;
    position: absolute;
    bottom: 3vh;
  }
}

/* For screen (width: 1280px and more, height: 720px (in mind)*/
@media screen and (min-width: 1278px) {
  .form {
    right: 18vw;
  }

  .user-msg textarea {
    line-height: 2.6ch;
    background-image: linear-gradient(
      transparent,
      transparent calc(2.6ch - 1px),
      #e7eff8 0px
    );
    background-size: 100% 2.6ch;
  }

  form button {
    font-size: 1.8rem;
  }

  .cm-horiz-right {
    right: 7vw;
  }
}

/* For screen (width: 1280px and more, height: 800px (in mind)*/
@media screen and (min-width: 1279px) and (min-height: 799px) {
  .user-msg textarea {
    line-height: 2.6ch;
    background-image: linear-gradient(
      transparent,
      transparent calc(2.6ch - 1px),
      #e7eff8 0px
    );
    background-size: 100% 2.6ch;
  }

  .cm-vert-btm {
    font-size: 2.4rem;
  }

  .userRespond {
    padding-top: 28vh;
  }
}

/* For screen (width: 1280px and more, height: 1024px*/
@media screen and (min-width: 1279px) and (min-height: 1023px) {
  .contact-me .title {
    top: 15vh;
  }

  .form {
    height: 46vh;
  }

  .user-msg textarea {
    line-height: 2.7ch;
    background-image: linear-gradient(
      transparent,
      transparent calc(2.7ch - 1px),
      #e7eff8 0px
    );
    background-size: 100% 2.7ch;
  }

  form button {
    bottom: 6%;
  }

  .cm-horiz-right {
    font-size: 2.2rem;
    bottom: 26vh;
  }
}

/* For screen (width: 1366px and more, height: 1024px (in mind)*/
@media screen and (min-width: 1365px) and (min-height: 1023px) {
  .contact-me .title {
    font-size: 3.8rem;
  }

  .form label {
    font-size: 3rem;
  }

  form input,
  form textarea {
    font-size: 2.4rem;
  }

  .user-msg {
    margin: 2.5rem auto;
  }

  .user-msg textarea {
    line-height: 2.8ch;
    background-image: linear-gradient(
      transparent,
      transparent calc(2.8ch - 1px),
      #e7eff8 0px
    );
    background-size: 100% 2.8ch;
  }

  .cm-vert-btm {
    right: 7vw;
  }
}

/*---Desktop-Media-Querie-Rules--- */
/* For screen (width: 1440px and more, height: 900px (in mind)*/
@media screen and (min-width: 1439px) {
  .user-info input:first-of-type {
    margin-top: 2.8rem;
  }

  .user-msg textarea {
    line-height: 2.8ch;
    background-image: linear-gradient(
      transparent,
      transparent calc(2.8ch - 1px),
      #e7eff8 0px
    );
    background-size: 100% 2.8ch;
  }
}

/* For screen (width: 1529px and more, height: 700px (in mind)*/
@media screen and (min-width: 1528px) and (min-height: 699px) {
  .user-info input:first-of-type {
    margin-top: 1.5rem;
  }

  .user-msg textarea {
    line-height: 2.5ch;
    background-image: linear-gradient(
      transparent,
      transparent calc(2.5ch - 1px),
      #e7eff8 0px
    );
    background-size: 100% 2.5ch;
  }
}

/* For screen (width: 1536px and more, height: 864px (in mind)*/
@media screen and (min-width: 1535px) and (min-height: 863px) {
  .user-info input:first-of-type {
    margin-top: 2.5rem;
  }

  form button {
    bottom: 6%;
  }
}

/* For screen (width: 1600px and more, height: 900px (in mind)*/
@media screen and (min-width: 1599px) {
  .contact-me .title {
    font-size: 3.4rem;
  }

  .form label {
    font-size: 2.8rem;
  }

  form input,
  form textarea {
    font-size: 2.4rem;
  }

  .user-msg {
    margin: 2.5rem auto;
  }

  .user-msg textarea {
    height: 80%;
    line-height: 2.8ch;
    background-image: linear-gradient(
      transparent,
      transparent calc(2.8ch - 1px),
      #e7eff8 0px
    );
    background-size: 100% 2.8ch;
  }

  form button {
    bottom: 5%;
  }
}

/* For screen (width: 1920px and more, height: 1080px (in mind)*/
@media screen and (min-width: 1918px) {
  .contact-me .title {
    font-size: 3.6rem;
  }

  .form {
    right: 15vw;
  }

  .form label {
    font-size: 3rem;
  }

  .user-msg textarea {
    line-height: 3ch;
    background-image: linear-gradient(
      transparent,
      transparent calc(3ch - 1px),
      #e7eff8 0px
    );
    background-size: 100% 3ch;
  }

  form button {
    font-size: 2rem;
  }

  .cm-horiz-right {
    font-size: 2.4rem;
    right: 3vw;
  }
}
