/* ----Mobile-First---- */
/* Starting from the smallest, iphone 5/SE size: 320x568*/
.vert-down {
  width: 75vw;
  height: 47vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Scrollbar styles */
/* width */
.vert-down ::-webkit-scrollbar {
  width: 10px;
  border-radius: 50%;
}

/* Handle */
.vert-down ::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 25px;
}

/* Handle on hover */
.vert-down ::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.projects {
  width: 100%;
  height: 62%;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}

.vert-down .scroll-down {
  margin-top: 1rem;
  font-size: 1.2rem;
  font-weight: 400;
}

/*---Mobile-Media-Querie-Rules--- */
/* For screen (width: 360px and more, height: 640px (in mind)*/
@media screen and (min-width: 358px) {
  .vert-down .scroll-down {
    margin-top: 1.5rem;
    font-size: 1.4rem;
  }

  .scroll-down-icon {
    margin-top: 1rem;
  }
}

/* For screen (width: 360px and more, height: 760px*/
@media screen and (min-width: 358px) and (min-height: 758px) {
  .vert-down {
    height: 55vh;
  }

  .projects {
    height: 75%;
  }

  .vert-down .scroll-down {
    font-size: 1.6rem;
  }
}

/* For screen (width: 360px and more, height: 780px*/
@media screen and (min-width: 358px) and (min-height: 778px) {
  .vert-down .scroll-down {
    font-size: 1.7rem;
  }
}

/* For screen (width: 375px and more, height: 667px (in mind)*/
@media screen and (min-width: 374px) {
  .vert-down {
    height: 52vh;
  }

  .projects {
    height: 67%;
  }

  .vert-down .scroll-down {
    font-size: 1.6rem;
  }

  .scroll-down-icon {
    margin-top: 0.5rem;
  }
}

/* For screen (width: 375px and more, height: 812px*/
@media screen and (min-width: 374px) and (min-height: 810px) {
  .vert-down {
    height: 56vh;
  }

  .projects {
    height: 72%;
  }

  .vert-down .scroll-down {
    font-size: 1.8rem;
  }

  .scroll-down-icon {
    margin-top: 1rem;
  }
}

/* For screen (width: 414px and more, height: 736px (in mind)*/
@media screen and (min-width: 412px) {
  .vert-down {
    height: 54vh;
  }
}

/* For screen (width: 414px and more, height: 896px*/
@media screen and (min-width: 412px) and (min-height: 894px) {
  .vert-down {
    height: 58vh;
  }

  .projects {
    height: 70%;
  }
}

/*---Tablet-Media-Querie-Rules--- */
/* For screen (width: 600px and more, height: 800px (in mind)*/
@media screen and (min-width: 599px) {
  .vert-down {
    width: 70vw;
    height: 56vh;
  }
}

/* For screen (width: 601px and more, height: 962px*/
@media screen and (min-width: 600px) and (min-height: 960px) {
  .vert-down {
    height: 63vh;
  }
}

/* For screen (width: 768px and more, height: 1024px (in mind)*/
@media screen and (min-width: 766px) {
  .vert-down {
    width: 80vw;
    height: 61vh;
  }

  .projects {
    height: 64%;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

/* For screen (width: 800px and more, height: 600px (in mind)*/
@media screen and (min-width: 798px) {
  .horiz-right {
    width: 60vw;
    height: 68vh;
    margin-top: 18vw;
    margin-right: 5vw;
  }

  .projects {
    height: 65%;
  }
}

/* For screen (width: 800px and more, height: 1280px */
@media screen and (min-width: 798px) and (min-height: 1278px) {
  .vert-down {
    width: 82vw;
    height: 60vh;
    margin-top: 0;
    margin-right: 0;
  }

  .projects {
    height: 68%;
  }
}

/* For screen (width: 810px and more, height: 1080px (in mind)*/
@media screen and (min-width: 808px) {
  .vert-down {
    width: 80vw;
    height: 50vh;
    margin-top: 0;
    margin-right: 0;
  }

  .projects {
    height: 75%;
  }
}

/* For screen (width: 962px and more, height: 601px (in mind)*/
@media screen and (min-width: 960px) {
  .horiz-right {
    height: 68vh;
    margin-top: 15vw;
    margin-right: 5vw;
  }

  .projects {
    height: 65%;
  }
}

/* For screen (width: 1024px and more, height: 768px (in mind) */
@media screen and (min-width: 1022px) {
  .horiz-right {
    margin-top: 25vh;
  }

  .projects {
    height: 70%;
  }
}

/* For screen (width: 1024px and more, height: 1366px)*/
@media screen and (min-width: 1022px) and (min-height: 1365px) {
  .vert-down {
    height: 50vh;
    margin-top: 0;
    margin-right: 0;
  }

  .projects {
    height: 79%;
  }

  .vert-down .scroll-down {
    font-size: 2rem;
    margin-top: 2rem;
  }
}

/* For screen (width: 1280px and more, height: 800px (in mind)*/
@media screen and (min-width: 1278px) {
  .vert-down .scroll-down {
    font-size: 2rem;
  }
}

/* For screen (width: 1366px and more, height: 1024px (in mind)*/
@media screen and (min-width: 1364px) {
  .projects {
    height: 80%;
  }
}
