/* ----Mobile-First---- */
/* Starting from the smallest, iphone 5/SE size: 320x568*/
.mb-down {
  width: 75vw;
  height: 47vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Scrollbar styles */
/* width */
.mb-down ::-webkit-scrollbar {
  width: 10px;
  border-radius: 50%;
}

/* Handle */
.mb-down ::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 25px;
}

/* Handle on hover */
.mb-down ::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.projects {
  width: 100%;
  height: 62%;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}

.mb-down .scroll-down {
  margin-top: 1rem;
  font-size: 1.2rem;
  font-weight: 400;
}

/*---Mobile-Media-Querie-Rules--- */
/* For screen (width: 360px and more, height: 640px (in mind)*/
@media screen and (min-width: 358px) {
  .mb-down .scroll-down {
    margin-top: 1.5rem;
    font-size: 1.4rem;
  }

  .scroll-down-icon {
    margin-top: 1rem;
  }
}

/* For screen (width: 360px and more, height: 760px*/
@media screen and (min-width: 358px) and (min-height: 758px) {
  .mb-down {
    height: 55vh;
  }

  .projects {
    height: 75%;
  }

  .mb-down .scroll-down {
    font-size: 1.6rem;
  }
}

/* For screen (width: 360px and more, height: 780px*/
@media screen and (min-width: 358px) and (min-height: 778px) {
  .mb-down .scroll-down {
    font-size: 1.7rem;
  }
}

/* For screen (width: 375px and more, height: 667px (in mind)*/
@media screen and (min-width: 374px) {
  .mb-down {
    height: 52vh;
  }

  .projects {
    height: 67%;
  }

  .mb-down .scroll-down {
    font-size: 1.6rem;
  }

  .scroll-down-icon {
    margin-top: 0.5rem;
  }
}

/* For screen (width: 375px and more, height: 812px*/
@media screen and (min-width: 374px) and (min-height: 810px) {
  .mb-down {
    height: 56vh;
  }

  .projects {
    height: 72%;
  }

  .mb-down .scroll-down {
    font-size: 1.8rem;
  }

  .scroll-down-icon {
    margin-top: 1rem;
  }
}

/* For screen (width: 414px and more, height: 736px (in mind)*/
@media screen and (min-width: 412px) {
  .mb-down {
    height: 54vh;
  }
}

/* For screen (width: 414px and more, height: 896px*/
@media screen and (min-width: 412px) and (min-height: 894px) {
  .mb-down {
    height: 58vh;
  }

  .projects {
    height: 70%;
  }
}
