/* ----Mobile-First---- */
/* Starting from the smallest, iphone 5/SE size: 320x568*/
.my-work {
  width: 100vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(
    -34deg,
    #fff 0,
    #fff 44%,
    #e2dfdf 44%,
    #e2dfdf 62%,
    #fff 62%,
    #fff 100%
  );
}

.mb-up {
  width: 90%;
  display: flex;
  justify-content: space-around;
  margin-top: 12vh;
}

.mb-up .title {
  padding: 2rem 0;
  font-size: 2.4rem;
  font-weight: 300;
}

.my-work .work-space-pic {
  width: 125px;
  height: 180px;
}

/*---Mobile-Media-Querie-Rules--- */
/* For screen (width: 360px and more, height: 640px (in mind)*/
@media screen and (min-width: 358px) {
  .mb-up {
    width: 78%;
    justify-content: space-between;
  }

  .mb-up .title {
    font-size: 2.6rem;
  }

  .my-work .work-space-pic {
    width: 140px;
  }
}

/* For screen (width: 360px and more, height: 760px*/
@media screen and (min-width: 358px) and (min-height: 758px) {
  .mb-up {
    width: 80%;
  }

  .mb-up .title {
    font-size: 2.8rem;
  }

  .my-work .work-space-pic {
    width: 150px;
  }
}

/* For screen (width: 360px and more, height: 780px*/
@media screen and (min-width: 358px) and (min-height: 778px) {
  .mb-up {
    width: 82%;
  }

  .mb-up .title {
    font-size: 3rem;
  }
}

/* For screen (width: 375px and more, height: 667px (in mind)*/
@media screen and (min-width: 374px) {
  .mb-up {
    width: 80%;
  }

  .mb-up .title {
    font-size: 3rem;
  }

  .my-work .work-space-pic {
    width: 150px;
  }
}

/* For screen (width: 375px and more, height: 812px*/
@media screen and (min-width: 374px) and (min-height: 810px) {
  .my-work .work-space-pic {
    height: 200px;
  }
}

/* For screen (width: 414px and more, height: 736px (in mind)*/
@media screen and (min-width: 412px) {
  .mb-up {
    width: 78%;
  }

  .mb-up .title {
    font-size: 3.2rem;
  }

  .my-work .work-space-pic {
    width: 160px;
    height: 200px;
  }
}

/* For screen (width: 414px and more, height: 896px*/
/* @media screen and (min-width: 412px) and (min-height: 894px) {
} */
