*,
::before,
::after {
  padding: 0;
  margin: 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

html,
body {
  overflow: hidden;
}

body {
  font-size: 1.6rem;
  width: 100vw;
  height: 100vh;
  background-color: #fff;
}

/* Use portrait styles for mobile devices in landscape mode */
.use-portrait {
  background-color: #000;
  color: red;
  width: 100vw;
  height: 100vh;
  padding-top: 100px;
  text-align: center;
  font-size: 2rem;
  display: none;
}

.use-portrait h1 {
  margin: 3rem 0;
}

@media (max-height: 415px) and (orientation: landscape) {
  .App {
    display: none;
  }
  .use-portrait {
    display: block;
  }
}
